body {
	background: linear-gradient(90deg, #cfecd0, #ffc5ca);
}
p {color:green;}
iframe {
         width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
